# two indent
root = true

[*]
charset = utf-8
end_of_line = lf
tab_width = 2
indent_size = 2
# indent_style = tab
indent_style = space
insert_final_newline = true
max_line_length = 120
# intellij idea
ij_continuation_indent_size = 4

[*.xml]
indent_size = 4

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.java]
# intellij idea
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_first_column_comment = true
ij_java_keep_line_breaks = true
ij_java_keep_control_statement_in_one_line = false
ij_java_keep_indents_on_empty_lines = false
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_keep_multiple_expressions_in_one_line = true
ij_java_else_on_new_line = true
ij_java_special_else_if_treatment = true
ij_java_insert_override_annotation = true
ij_java_binary_operation_sign_on_next_line = true
# imports
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true
# indent and align
ij_java_indent_case_from_switch = true
ij_java_align_multiline_chained_methods = true
ij_java_align_multiline_for = true
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_align_multiline_resources = true
# brace force
ij_java_while_brace_force = if_multiline
ij_java_do_while_brace_force = if_multiline
ij_java_for_brace_force = if_multiline
ij_java_if_brace_force = if_multiline
# comment space
ij_java_block_comment_add_space = true
ij_java_line_comment_add_space = true
# doc
ij_java_doc_enable_formatting = true
ij_java_doc_keep_empty_lines = true
ij_java_doc_preserve_line_breaks = true
ij_java_doc_add_p_tag_on_empty_lines = true
ij_java_doc_indent_on_continuation = true
ij_java_doc_add_blank_line_after_description = true
ij_java_doc_align_exception_comments = true
ij_java_doc_align_param_comments = true
ij_java_wrap_comments = true
# wrap
ij_java_annotation_parameter_wrap = off
ij_java_array_initializer_wrap = normal
ij_java_binary_operation_wrap = normal
ij_java_throws_list_wrap = normal
ij_java_call_parameters_wrap = normal
ij_java_class_annotation_wrap = split_into_lines
ij_java_field_annotation_wrap = split_into_lines
ij_java_method_annotation_wrap = split_into_lines
